body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.letter {
  font-size: 90px;
  padding: 15px;
}

.word {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  color: white;
}

.main-page {
  display: flex;
  flex-direction: column;
}

button.new-game {
  align-self: center;
  border-radius: 15px;
  border-width: 0px;
  width: auto;
  background-color: rgb(0, 155, 0);
  font-size: 40px;
  color: rgba(255, 255, 255, 0.733);
  padding: 15px;
}

button.new-game:active {
  background-color: rgb(2, 131, 2);
}

.games-list {
  flex-grow: 1;
}